cffi>=1.17.1
numpy>=2.2.2
pip>=24.2
pycparser>=2.22
scipy>=1.15.1
setuptools>=75.8.0
wheel>=0.44.0
git+https://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@github.com/Pielau92/mpccontroller