cffi>=1.17.1
numpy>=2.2.2
pip>=24.2
pycparser>=2.22
scipy>=1.15.1
setuptools>=75.8.0
wheel>=0.44.0
git+https://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@github.com/Pielau92/mpccontroller.git@main#egg=mpccontroller
git+https://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@github.com/Pielau92/simple_config_manager.git@main#egg=simple_config_manager
